.vscode/                                                                                   
.DS_Store                                                                                  
.env                                                                                       
*.log                                                                                      
*.back                                                                                     
indicaciones.info
node_module/
dist/
build/
.npm                                                                            
                                                                      
                                                                                           
                                                                                           
                                                                                           
                                                                                           
                                                                                           
                                    
